POSTGRES_USER=postgresql
POSTGRES_PASSWORD=supersecurepassword
POSTGRES_DB=htn26db
DATABASE_URL=postgresql://postgres:supersecurepassword@db:5432/htn26db

# Add any additional environment variables your team needs below
